@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #001F3F;
  font-family: 'Titillium Web', sans-serif;
  color: #ddd;
}

 a {
  color: #3D9970;
  text-decoration: none;
  font-size: 15px;
}

a:hover {
  color: #FFDC00;
  text-decoration: none;
}

h1 {
  font-size: 50px;
}

h2 {
  font: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 50px;
}
p{
  font-size: 15px;
  line-height: 30px;
}

/* Navbar */
.navbar {
  background-color: #001F3F;
}
.navbar a {
  font-size: : 13px;
}

.active a{
  color: #FFDC00
}

.navbar-toggler-icon {
    background-image: url(../img/ui.png);
}

/* intro*/

.intro {
  margin-top: 100px ;
  margin-bottom: 50px;
}


.argomenti ul {
  list-style: none;
  display: inline;
}

.argomenti li {
  display: inline;
  margin-right: 3px;
}


/* Blog Post Section */

.frame {
  border: #3D9970 solid 3px;
}

.top_bar{
  background-color: #3D9970;
  height: 10px;
}

.pallino{
  background-color: #ddd;
  float: left;
  height: 5px;
  width: 5px;
  border-radius: 5px;
  margin: 2px 5px 2px 1px;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body, .card-text, .card-footer {
  background-color: #fff;
  color: #001F3F;
}

.card-footer ul {
  list-style: none;
  display: inline;
}

.card-footer li {
  display: inline;
  margin-right: 5px;
}

.list_post {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.list_post button {
  margin-right: 30px;
}
